<!DOCTYPE html>
<html>
<head>
    <%- include('partials/global-head') %>
    <%- include('partials/main-page-head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/calendar.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Study Planner - Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/nav-bar') %>
        <div class="container">
            <div class="content">
                <div class="tabs-container">
                    <div class="left-side">
                        <div class="input-group">
                            <label for="moduleFilter">Module:</label>
                            <select id="moduleFilter" name="moduleID" onchange="filterByModule()" required>
                                <option value="">All Modules</option>
                                <% modules.forEach(function(module) { %>
                                    <option value="<%= module.ModuleID %>" <%= module.ModuleID == selectedModule ? 'selected' : '' %>><%= module.ModuleName %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="tabs">
                            <button class="tablinks" onclick="openTab(event, 'Upcoming')">Upcoming</button>
                            <button class="tablinks" onclick="openTab(event, 'Missed')">Missed</button>
                            <button class="tablinks" onclick="openTab(event, 'Deadlines')">Deadlines</button>
                        </div>
                    </div>
                    <div class="content">
                        <div id="Upcoming" class="tabcontent">
                            <% assessments.forEach(assessment => { %>
                                <% if (assessment.status === 'Upcoming') { %>
                                    <div class="deadline-card upcoming">
                                        
                                        <h3><%= assessment.AssessmentName %></h3>
                                        <p><%= assessment.AssessmentDescription %></p>
                                        <p>Date: <%= assessment.AssessmentDate %></p>
                                        <p>Weighting: <%= assessment.Weighting %></p>
                                        <% assessment.tasks.forEach(task => { %>
                                            <div>
                                                <p>Task: <%= task.TaskName %></p>
                                                <p>Status: <%= task.Status %></p>
                                            </div>
                                        <% }); %>
                                        <div class="progress-bar-container">
                                            <h3>Progress</h3>
                                           
                                            <div class="progress-bar" data-status="<%= assessment.status %>" style="width: <%= assessment.progress %>%;" title="You have completed <%= assessment.completedTasks %> out of <%= assessment.totalTasks %> tasks.">
                                                <span><%= assessment.progress %>%</span>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <div id="Missed" class="tabcontent">
                            <% assessments.forEach(assessment => { %>
                                <% if (assessment.status === 'Missed') { %>
                                    <div class="deadline-card missed">
                                        <h3><%= assessment.AssessmentName %></h3>
                                        <p><%= assessment.AssessmentDescription %></p>
                                        <p>Date: <%= assessment.AssessmentDate %></p>
                                        <p>Weighting: <%= assessment.Weighting %></p>
                                        <% assessment.tasks.forEach(task => { %>
                                            <div>
                                                <p>Task: <%= task.TaskName %></p>
                                                <p>Status: <%= task.Status %></p>
                                            </div>
                                        <% }); %>
                                        <div class="progress-bar-container">
                                            <h3>Progress</h3>
                                       
                                            <div class="progress-bar" data-status="<%= assessment.status %>" style="width: <%= assessment.progress %>%;" title="You have completed <%= assessment.completedTasks %> out of <%= assessment.totalTasks %> tasks.">
                                                <span><%= assessment.progress %>%</span>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <div id="Deadlines" class="tabcontent">
                            <% assessments.forEach(assessment => { %>
                                <% if (assessment.status === 'Completed') { %>
                                    <div class="deadline-card completed">
                                        <h3><%= assessment.AssessmentName %></h3>
                                        <p><%= assessment.AssessmentDescription %></p>
                                        <p>Date: <%= assessment.AssessmentDate %></p>
                                        <p>Weighting: <%= assessment.Weighting %></p>
                                        <% assessment.tasks.forEach(task => { %>
                                            <div>
                                                <p>Task: <%= task.TaskName %></p>
                                                <p>Status: <%= task.Status %></p>
                                            </div>
                                        <% }); %>
                                        <div class="progress-bar-container">
                                            <h3>Progress</h3>
                                          
                                            <div class="progress-bar" data-status="<%= assessment.status %>" style="width: <%= assessment.progress %>%;" title="You have completed <%= assessment.completedTasks %> out of <%= assessment.totalTasks %> tasks.">
                                                <span><%= assessment.progress %>%</span>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <% assessments.forEach(assessment => { %>
                            <div id="<%= assessment.AssessmentID %>" class="tabcontent">
                                <div class="deadline-card">
                                    <h3><%= assessment.AssessmentName %></h3>
                                    <p><%= assessment.AssessmentDescription %></p>
                                    <p>Date: <%= assessment.AssessmentDate %></p>
                                    <p>Weighting: <%= assessment.Weighting %></p>
                                    <% assessment.tasks.forEach(task => { %>
                                        <div>
                                            <p>Task: <%= task.TaskName %></p>
                                            <p>Status: <%= task.Status %></p>
                                        </div>
                                    <% }); %>
                                    <div class="progress-bar-container">
                                        <h3>Progress</h3>
                                     
                                        <div class="progress-bar" data-status="<%= assessment.status %>" style="width: <%= assessment.progress %>%;" title="You have completed <%= assessment.completedTasks %> out of <%= assessment.totalTasks %> tasks.">
                                            <span><%= assessment.progress %>%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/error-box') %>
    <script>
        function filterByModule() {
            const selectedModule = document.getElementById('moduleFilter').value;
            window.location.href = `/dashboard?module=${selectedModule}`;
        }

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.tablinks').click();
        });

   
document.querySelectorAll('.progress-bar').forEach(function(bar) {
    bar.addEventListener('click', function() {
        window.location.href = '/tasks?assessment=' + this.dataset.assessment;
    });

     document.getElementById('moduleFilter').addEventListener('change', function() {
        const selectedModule = this.value;
        window.location.href = `/dashboard?module=${selectedModule}`;
    });
});
    </script>
</body>
</html>
